<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="CS2_GUI"/>
  </extensions>

  <targets>
    <target name="debug" xsi:type="MethodCall" className="Grep.Net.WPF.Client.NLogModel, CS2_GUI" methodName="LogMessage">
      <parameter layout="${level}" />
      <parameter layout="${callsite}" />
      <parameter layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="debug" />
  </rules>
</nlog>